#workout
  %p= @workout.date
  %p= @workout.workout
  %p= @workout.mood
  %p= @workout.length
  
#excercises
  %h2 Excercises
  = render @workout.excercises
  
  %h3 Add an excercise
  = render "excercises/form"
  
= link_to "Back", root_path
= link_to "Edit", edit_workout_path(@workout)
= link_to "Delete", workout_path(@workout), method: :delete, data: { confirm: "Are you sure?"} 