/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

body {

  background: -webkit-linear-gradient(90deg, #AAFFA9 10%, #11FFBD 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #AAFFA9 10%, #11FFBD 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #AAFFA9 10%, #11FFBD 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #AAFFA9 10%, #11FFBD 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #AAFFA9 10%, #11FFBD 90%); /* W3C */
        
}

.navbar-default {
    background-color: rgba(250, 250, 250, 0.5);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
    border: none;
    border-radius: 0;
    
    .navbar-header {
      .navbar-brand {
        margin-top: 10px;
        color: white;
        font-size: 28px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: -1px;
      }
    }
    .navbar-link {
      color: white;
      font-size: 17px;
    }

}

#index_workouts {
 h2 {
   margin-bottom: 0;
   font-weight: 100;
   a {
     font-weight: 100;
     color: white;
   }
 }
 h3 {
   margin: 0;
   color: #004C00;
   font-size: 18px;
   span {
     color: #339966;
   }
 }
}